<div class="col-md-3">
	<p class="lead">Categories</p>

	<div class="list-group">
	    	<% @category_sidebar.each do |sidebar| %>
	    	<%=link_to sidebar.name, category_path(sidebar.id)%></br>
				<%end%>
	</div>
	
</div>
